body{
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  border-bottom: 1px solid gray;
  height: 43px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}

.nab{
  display: inline-block;
  width:33.1%;
  height: 43px;
}

.first-one{
  position: relative;
  top: -20px;
}
.nab i {
  margin-right: 10px;
  margin-left:10px;
  margin-bottom: 30px;
}

.nab a{
  font-size: 14.25px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

 .nav-logo img{
  width: 195px;
  height: 26.5x;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.third-one{
  position: relative;
  top: 10px;

}
.sub-login{
  float: right;
  margin: 0 10px;
}

.third-one a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.third-one button{
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  width: 64px;
  height: 32px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  position:relative;
  top: -5px;

}
main {
  position: relative;
  top: 40px;
}
.main-header{
  display: block;
  margin: 0 auto;
}

main div h1{
  font-family: georgia,'times new roman',times,serif;
  font-size: 2.5rem;
  color: #121212;
  font-style: italic;
  font-weight: 700;
  width: 600px;
  height: 96px;
  margin: 25px auto 10px;
}
.main-img{
  width: 1200px;
  height: 674px;
}
.img-subtext-container{
  width:1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-img-subtext-1{
  width: 700px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #666;
  margin-top: 5px;
  margin-bottom: 0; 
}  
.main-img-subtext-2{
  font-size: 0.8125rem;
  color: #888;
  margin-top: 0;
}


.main-text{
  display: block;
  width: 600px;
  margin: 0 auto;
}

.author{
  margin-bottom: 30px;
}

.author i{
  float: right;
  position: relative;
  bottom: 36px;
  margin: 0 10px;
  
}

.author-firstp{
  font-size: 0.9375rem;
  font-weight: 700;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.author-firstp a{
  text-decoration: none;
  color:#333;
}

.author-secondp{
  font-size: 0.8125rem;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1rem;

}

.paragraphs{
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: georgia,'times new roman',times,serif;
  color: #333
}
.inflation-container{
  width: 945px;
  margin-left: auto;
  margin-right: auto;
} 
.inflation-style p{
  font-size: 14px;
  width: 220px;
}
.inflation-img{
  display: block;
  max-width: 945px;
  height: auto;
}
.inflation-1{
  position: absolute;
  top: 22%;
  left: 25.5%;
}
.inflation-2{
  position: absolute;
  top: 22%;
  left: 38%;
}
 .inflation-3{ 
  position: absolute;
  top: 22%;
  left: 50.5%;
}
.inflation-4{
  position: absolute;
  top: 22%;
  left: 63%;
}
.inflation-5{
  position: absolute;
  top: 24%;
  left: 25.5%;
}
.inflation-6{
  position: absolute;
  top: 24%;
  left: 38%;
}
.inflation-7{
  position: absolute;
  top: 24%;
  left: 50.5%;
}
.inflation-8{
  position: absolute;
  top: 24%;
  left: 63%;
}